@model TestWeek7.Models.ToDos

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<div>
    <h4>ToDos</h4>
    <hr />
    <dl class="row">
    </dl>
</div>
@TempData["Data"]

<div>
    @Html.ActionLink("Edit", "Edit", new { /* id = Model.PrimaryKey */ }) |
    <a asp-action="Index">Back to List</a>
</div>
